@import-normalize;

:root {
  --white: #ffffff;
  --darkBlue: #070724;
  --gunmetal: #38384f;
  --silver: #838391;
  --teal: #419ebb;
  --mustard: #eda249;
  --purple: #6f2ed6;
  --orangeRed: #d14c32;
  --brightRed: #d83a34;
  --orange: #cd5120;
  --mint: #1ec2a4;
  --blue: #2d68f0;
}

/* --------------------*/
/* Font Defaults       */
/* --------------------*/

/* font-family: 'Antonio', sans-serif;
font-family: 'Spartan', sans-serif; */

h1 {
  font-family: "Antonio", sans-serif;
  font-size: 80px;
  font-weight: 500;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

h3 {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

h4 {
  font-family: "Spartan", sans-serif;
  font-size: 11px;
  font-weight: 700;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* --------------------*/
/* Reset               */
/* --------------------*/

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------*/
/* Background          */
/* --------------------*/

html {
  color: white;
}

/* --------------------*/
/* Button Defaults     */
/* --------------------*/

/* button {
}

button:active {
}

button:hover {
} */

/* Sticky footer */

body > footer {
  position: sticky;
  top: 100vh;
}

/* --------------------*/
/* Utility classes     */
/* --------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em; /*looking at inline access of container (left and right side, not top and bottom)*/
  margin-inline: auto;
  max-width: 80rem;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
